:root{
  --cor-1: #ffffff; 
  --cor-2: #f1f1f1; 
  --cor-3: #e5e5e5; 
  --cor-4: #d8d8d8;
  --cor-5: #cccccc; 
  --cor-6: #bfbfbf;
  --cor-7: #b3b3b3;
  --cor-8: #a6a6a6;
  --cor-9: #999999; 
  --cor-10: #8c8c8c;
  --cor-11: #808080; 
  --cor-12: #737373;
  --cor-13: #666666;
  --cor-14: #595959;
  --cor-15: #4d4d4d;
  --cor-16: #404040;
  --cor-17: #333333;
  --cor-18: #262626;
  --cor-19: #1a1a1a;
  --cor-20: #000000;

}

.fundo-branco{
    background: var(--cor-1);
    color: var(--cor-20);
}
.fundo-cinza-clarissimo{
    background: var(--cor-3);
    color: var(--cor-20);
}
.fundo-cinza-claro{
  background: var(--cor-5);
  color: var(--cor-20);
}
/* .fundo-cinza{

}
.fundo-cinza-escuro{

}
.fundo-preto{

} */